@page "/classperiod/{id:int}"
@using Serilog
@inject HttpClient Http
@inject IJSRuntime JSRuntime;

@if (loadFailed)
{
    <p><em>Sorry, the class period could not be loaded due to an error</em></p>
}
else if (vm == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="jumbotron text-center">
        <div class="container">
            <h1>@vm.Name</h1>
            @if (!addingStudent)
            {
                <p>
                    <button type="button" class="btn btn-primary my-2">Add Tickets</button>
                    <button type="button" class="btn btn-secondary my-2" @onclick="AddStudentButtonClicked">Add Student</button>
                </p>
            }
            else
            {
                <EditForm Model="@student" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <InputText id="addStudentName" @bind-Value="student.Name" />
                    <button type="submit" class="btn btn-primary">Add Another</button>
                    <button type="button" class="btn btn-secondary" @onclick="FinishButtonClicked">Finish</button>
                </EditForm>
            }
        </div>
    </section>
    <div class="container">
        <div class="row">
            @foreach (var student in vm.Students)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@student.Name</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title">18 <small class="text-muted">tickets</small></h1>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Tickets</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private bool loadFailed;
    private PosiTicks.Shared.ClassPeriod vm;

    private bool addingStudent;
    private PosiTicks.Shared.Student student;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Log.ForContext<ClassPeriodDetails>().Information("Client: Loading class period {Id} at {RequestTime}", Id,
            DateTime.UtcNow);

        try
        {
            loadFailed = false;
            vm = await Http.GetFromJsonAsync<PosiTicks.Shared.ClassPeriod>($"ClassPeriod/{Id}");
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Log.ForContext<Index>().Warning(ex, "Client: Failed to load class period {Id}", Id);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(addingStudent)
            await JSRuntime.InvokeVoidAsync("focusElement", "addStudentName");
    }

    async Task AddStudentButtonClicked()
    {
        addingStudent = true;
        student = new PosiTicks.Shared.Student();
        await InvokeAsync(StateHasChanged);
    }

    public async Task HandleValidSubmit()
    {
        Log.ForContext<ClassPeriod>().Information("Client: Adding Student {@Student} to Class Period {Id} at {RequestTime}", student, Id, DateTime.UtcNow);
        vm.AddStudent(student.Name);

        student = new PosiTicks.Shared.Student();
        await InvokeAsync(StateHasChanged);

        // TODO: UI for adding more students or being done
        // TODO: handle error
        // TODO: Validation: unique student within class period
    }

    private async Task FinishButtonClicked()
    {
        Log.ForContext<ClassPeriod>().Information("Client: Adding Student {@Student} to Class Period {Id} at {RequestTime}", student, Id, DateTime.UtcNow);
        vm.AddStudent(student.Name);
        var response = await Http.PutAsJsonAsync<PosiTicks.Shared.ClassPeriod>($"ClassPeriod/{Id}", vm);
    }
}