@page "/"
@inject HttpClient Http
@using Serilog

<h1>Class Periods</h1>

@if   (loadFailed)
{
    <p><em>Sorry, class periods could not be loaded due to an error</em></p>
}
else if (classPeriods == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@nameof(PosiTicks.Shared.ClassPeriod.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cp in classPeriods)
            {
                <tr>
                    <td>@cp.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private bool loadFailed;
    private IEnumerable<PosiTicks.Shared.ClassPeriod> classPeriods;

    protected override async Task OnInitializedAsync()
    {
        Log.ForContext<Index>().Information("Client: Initializing Index at {RequestTime}", DateTime.UtcNow);

        try
        {
            loadFailed = false;
            classPeriods = await Http.GetFromJsonAsync<IEnumerable<PosiTicks.Shared.ClassPeriod>>("ClassPeriod");
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Log.ForContext<Index>().Warning(ex, "Client: Failed to load class periods");
        }
    }
}