@page "/"
@inject HttpClient Http
@using Serilog

<h1>Class Periods</h1>

@if(classPeriods == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@nameof(PosiTicks.Shared.ClassPeriod.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cp in classPeriods)
            {
                <tr>
                    <td>@cp.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private IEnumerable<PosiTicks.Shared.ClassPeriod> classPeriods;

    protected override async Task OnInitializedAsync()
    {
        Log.ForContext<Index>().Information("Client: Initializing Index at {RequestTime}", DateTime.UtcNow);
        classPeriods = await Http.GetFromJsonAsync<IEnumerable<PosiTicks.Shared.ClassPeriod>>("ClassPeriod");
    }
}